<ion-item-sliding>
  <ion-item-options side="start">
    <ion-item-option id="{{id + 'edit'}}" color="success" expandable>
      <ion-icon slot="icon-only" name="create"></ion-icon>
    </ion-item-option>
  </ion-item-options>

  <ion-item role="article">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{nombre}}</ion-card-title>
        <ion-card-subtitle>{{casa}}</ion-card-subtitle>
        <ion-avatar>
          <img alt="Avatar del Heroe" src="{{icono}}" />
        </ion-avatar>
      </ion-card-header>
      <ion-card-content>
        <ion-label>Su primera aparición fue en <b>{{aparicion.slice(0,10)}}</b></ion-label>

        <ion-grid>
          <ion-row>
            @for (imagen of imagenes; track imagen) {
              <ion-col>
                <img alt="Imagen" src="{{imagen}}" />
              </ion-col>
            }
          </ion-row>
        </ion-grid>

        <ion-button size="large" id="{{id + 'bio'}}" expand="block">Biografía</ion-button>

      </ion-card-content>
    </ion-card>

    <app-modales-crud
      [biografia]="biografia"
      [id]="id"
      [nombre]="nombre"
      [casa]="casa"
      [icono]="icono"
      [aparicion]="aparicion"
      (eventReloadAPI)="recargarHeroes($event)" >
    </app-modales-crud>

  </ion-item>

  <ion-item-options side="end">
    <ion-item-option id="{{id + 'rm'}}" color="danger" expandable>
      <ion-icon slot="icon-only" name="trash"></ion-icon>
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>
